.artifacts {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  &-header {
    display: flex;
    align-items: center;
    height: 36px;
    padding: 20px;
    background: var(--second);
  }
  &-title {
    flex: 1;
    text-align: center;
    font-weight: bold;
    font-size: var(--text-2xl);
  }
  &-content {
    flex-grow: 1;
    padding: 0 20px 20px 20px;
    background-color: var(--second);
  }
  &-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    .artifacts-content {
      padding: 0;
    }
  }
  &-exit-fullscreen {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001;
  }
}

.artifacts-iframe {
  width: 100%;
  border: var(--border-in-light);
  border-radius: 6px;
  background-color: var(--gray);
}

.artifacts-share-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: var(--text-sm);
  padding: 10px;

  label {
    font-weight: bold;
  }
}

.artifacts-share-select {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid var(--second);
  background-color: var(--white);
  font-size: var(--text-sm);
  outline: none;

  &:focus {
    border-color: var(--primary);
  }
}

.artifacts-custom-ttl {
  display: flex;
  gap: 10px;
  font-size: var(--text-sm);

  &-input {
    flex-grow: 1;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid var(--second);
    outline: none;

    &:focus {
      border-color: var(--primary);
    }
  }

  &-unit {
    flex-basis: 120px;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid var(--second);
    background-color: var(--white);
    outline: none;

    &:focus {
      border-color: var(--primary);
    }
  }
}


@media (prefers-color-scheme: dark) {
  .artifacts-share-select,
  .artifacts-custom-ttl-input,
  .artifacts-custom-ttl-unit {
    background-color: var(--black);
    color: var(--white);
  }
}